/* Main wrapper for the wedding planning section */
.wedding__whatwedding {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  background: linear-gradient(90deg, rgba(238, 130, 238, 0.74) 0%, rgba(240, 141, 225, 0.42) 100%);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/* Feature container styling for the main feature */
.wedding__whatwedding-feature {
  display: flex;
}

/* Text component within the feature - ensure that it does not overflow */
.wedding__whatwedding-feature .wedding__features-container__feature .feature__text {
  max-width: 700px;
}

/* Heading section styling with space between the title and paragraph */
.wedding__whatwedding-heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 4rem 0 2rem;
}

/* Styling for the heading title */
.wedding__whatwedding-heading h1 {
  font-size: 34px;
  line-height: 45px;
  font-weight: 800;
  font-family: var(--font-family);
  max-width: 510px;
}

/* Styling for the paragraph under the heading title */
.wedding__whatwedding-heading p {
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  color: var(--color-subtext);
  cursor: pointer;
}

/* Container for additional features, set up to wrap if not enough space */
.wedding__whatwedding-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 2rem;
}
.section__padding {
    padding: 4rem 6rem;
  }
  
  .section__margin {
    margin: 4rem 6rem;
  }
  
  .scale-up-center {
      -webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
      animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  }
  
  @-webkit-keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  
  @keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  
  @media screen and (max-width: 700px) {
    .section__padding {
      padding: 4rem;
    }
  
    .section__margin {
      margin: 4rem;
    }
  }
  
  @media screen and (max-width: 550px) {
    .section__padding {
      padding: 4rem 2rem;
    }
  
    .section__margin {
      margin: 4rem 2rem;
    }  
  }
