.wedding__NavBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem;
    
}

.wedding__NavBar-Links {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.wedding__NavBar-Links_Logo {
    margin-right: 2.5rem;
 /* Ensures space between logo and nav links */
}

.wedding__NavBar-Links_Logo img {
    width: 62px; /* Added 'px' to ensure proper CSS unit */
    height: 60px; /* use 'auto' to maintain the aspect ratio of the image */
}

.wedding__NavBar-Links_container {
    display: flex;
    flex-direction: row;
}

.wedding__NavBar-sign {
    display: flex;
    justify-content: flex-end;
    align-items: center;}

.wedding__NavBar-Links_container p a,
.wedding__NavBar-sign p,
.wedding__NavBar-menu_container p {
    color: #fff;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    line-height: 25px;
    text-transform: capitalize;
text-decoration: none;
    margin: 0 1rem;
    cursor: pointer;

}
.wedding__NavBar-sign button,
.wedding__NavBar-menu_container button{
  padding: 0.5rem 1rem;
    color: #fff;
    background: #FF4820;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    line-height: 25px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
}