@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');


:root {
  --font-family: 'Manrope', sans-serif;
  
  --gradient-text: linear-gradient(89.97deg, #FF8A65 1.84%, #6A67CE 102.67%);
  --gradient-bar: linear-gradient(103.22deg, #ce6fd1 -13.86%, #ff91ed 99.55%);
  
  --color-bg: #faace1;
  --color-footer: #e47fc5;
  --color-blog: #FCE8EF;
  --color-text: #50495A;
  --color-subtext: #f72eaabe;
}